<p style="color: green"><%= notice %></p>

<%= render @project %>
<p></p>
<div class="row">
  <p><%= link_to "Edit", edit_project_path(@project) %></p>
  <p><%= link_to "Back to projects", projects_path %></p>
</div>
<p></p>
</hr>

<%= render 'activities', activities: @activities %>

</hr>
<%= render 'comments/comments', comments: @project.comments, project: @project %>

